body {
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url('https://t3.ftcdn.net/jpg/03/59/04/82/360_F_359048257_dlgyaQMECMTT6dBSXGt1AztKVagSjLeC.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            font-family: Arial, sans-serif;
        }

        .card {
            width: 600px;
            padding: 20px;
            margin: 20px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        h2 {
            text-align: center;
            color: #333;
            font-size: 24px;
            margin-bottom: 20px;
        }
        p {
            text-align: center;
            color: #666;
            font-size: 16px;
            margin-bottom: 20px;
        }
        .form-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }

        .form-group {
            flex: 1;
            min-width: 250px;
            display: flex;
            flex-direction: column;
        }

        .form-group label {
            font-size: 16px;
            color: #333;
            margin-bottom: 5px;
            text-align: left;
        }

        .form-group input {
            padding: 10px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 5px;
            outline: none;
        }

        .form-group input:focus {
            border-color: #007bff;
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
        }

        .gender-group {
            display: flex;
            align-items: center;
            gap: 15px;
            margin-top: 10px;
        }

        .gender-group label {
            font-size: 16px;
            color: #333;
        }

        .gender-group input[type="radio"] {
            margin-right: 5px;
        }

        .submit-btn {
            width: 100%;
            padding: 12px;
            font-size: 16px;
            color: white;
            background: linear-gradient(90deg, #007bff, #00d4ff);
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background 0.3s;
            margin-top: 20px;
        }

        .submit-btn:hover {
            background: linear-gradient(90deg, #0056b3, #04232e);
            
        }
        .card:hover{
            background: linear-gradient(90deg, #7895b4, #0096cc);
            
        }
        .form-container:hover {
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        }
        .form-group:hover {
            transform: scale(1.02);
            transition: transform 0.2s;

        }
        
        body:hover {
            background-color: #1c5691;
            transition: background-color 0.3s;
        }